PUBLIC_APP_DATABASE_URL="postgresql://postgres.<project-ref>:<PASSWORD>@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
PUBLIC_APP_DIRECT_URL="postgresql://postgres.<project-ref>:<PASSWORD>@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://<project-ref>.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="<ANON_KEY>"
PUBLIC_APP_SITE_URL="http://localhost:3000"
